body{

    font-family: sans-serif;
    
}

#header_main{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
justify-content: start;
align-content: start;
background-color: #0084FF;

}

header>h1{
color: white;
margin-left: 10px;
font-size: 1.5em;
}

#page_main{
  
display: grid;

background-color: white;

grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#arrow{
height: 40px;
width: 40px ;
background-color: #9693E6;
border-radius: 30px;
justify-self: center;
align-self: center;
display: grid;
padding: 10px;

}
#span_article_phone{
border-radius: 30px;
    background-color: #B8DDFF;
    display: grid;

     height: 70vh;
     margin-bottom: 25px;
     margin-top: 25px;
    }

#span_article_phone>p{
margin-left: 5vw;
    text-align: start;
    display: block; width: 250px;
    color: darkblue;
    margin-bottom: 3vh;
}

#span_article_phone>h1{
justify-self: start;
align-self: center;
margin-left: 5vw;
color:#0084FF;
font-size: 1.75em;
}

#span_article_phone>h3{
background-color: #0084FF;
padding: 10px;
    color: white;
    justify-self: start;
    align-self: center;
    margin-left: 50px;
    border-radius: 60px;
}

#span_article_phone>img{
    display: grid;
height: 250px;
width:200px; ;
min-height: 250px;
min-width: 200px;
justify-self: start;
align-self: flex-end;
}



#span_article_code{
    border-radius: 30px;
min-height: 30vh;
    background-color: #CAF0DB;
    display: grid;
     
     grid-template-rows: 90px 40px 40px 40px;
justify-items: center;
align-content: center;
     margin-top: 25px;
     margin-bottom: 25px;
    }

    #span_article_code>img{

        width: 90px;
     align-self: start;


        }

#span_article_code>p{
justify-self: center;
text-align:center ;
color: green;
font-size: 1em;
width: 250px;
}    

#span_article_code>h1{

    color: #54C788;
font-size: 1.5em;
}


#span_article_design{
border-radius: 30px;
    min-height: 30vh;
    background-color: #FFD2D2;
    display: grid;
    
    grid-template-rows: 90px 40px 40px 40px;
justify-items: center;
align-content: center;
     margin-top: 25px;
     margin-bottom: 25px;

}

#span_article_design>img{

    width: 90px;
    align-self: center;
    }

#span_article_design>p{
justify-self: center;
text-align:center ;
color:red;
font-size: 1em;
width: 250px;
}    

#span_article_design>h1{

color: #FF8A8A;
font-size: 1.5em;
}


#span_article_development{
border-radius: 30px;
    min-height: 30vh;
    background-color: #FFE7C4;
    display: grid;
     
    grid-template-rows: 90px 40px 40px 40px;
justify-items: center;
align-content: center;
     margin-top: 25px;
     margin-bottom: 25px;

}

#span_article_development>img{
    align-self: center;
    width: 90px;
    
    }

#span_article_development>p{
justify-self: center;
text-align:center ;
color:darkgoldenrod;
width: 250px;
}    

#span_article_development>h1{

color: #FFC166;
font-size: 1.5em;
}

#span_article_branding{
border-radius: 30px;
    min-height: 30vh;
    background-color: #D5D4F5;
    display: grid;
     
    grid-template-rows: 90px 40px 40px 40px;
justify-items: center;
align-content: center;
     margin-top: 25px;
     margin-bottom: 25px;

}

#span_article_branding>img{
    align-self: center;
    width: 90px;
    
    }

#span_article_branding>p{
justify-self: center;
text-align:center ;
color: purple;
width: 250px;
}    

#span_article_branding>h1{

color: #9693E6;
font-size: 1.5em;
}



.Waving_Woman{
    min-height: 125vh;
display: grid;
background-color:#9693E6;
    justify-items: center;
    align-content: start;
    grid-template-rows: 275px 100px 200px 250px 70px 100px ;
}

.Waving_Woman>img{

    width: 250px ;
}

.Waving_Woman>h1{

color: white;
font-size: 2em;
}

.Waving_Woman>p{
color: white;
font-size: 1em;
text-align: center;
width: 250px;
}

#idea_man{
    border-radius: 30px;
background-color: white;
padding-bottom: 25vh;
padding-left: 25px;
padding-right: 25px;
padding-top: 15px;
}



#specific_text_color{
color: black;

}


#testimonial{
display: grid;
grid-template-rows: 80px 70px 180px;
justify-items: center;
align-items: center;
text-align: center;
color: black;
font-size: 1.25em;
}
#specific_header_color{
    color: #9693E6;
    font-size: 1.75em;
    width: 350px;
    }
    
#specific_width{

    width: 350px;
}

.testimonial_one{
    border-radius: 30px;
min-height: 45vh;
display: grid;
align-content: center;
justify-items: center;
background-color: #FFD2D2;
margin-top: 25px;
margin-bottom: 25px;
}

.testimonial_one>p{
margin-top: 25px;
justify-self: center;
text-align: center;
width: 350px;

}


.testimonial_one>img{
align-self: center;
    width: 250px;
    border-radius: 50%;
}


.testimonial_two{
    border-radius: 30px;
    min-height: 45vh;
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: #FFE7C4;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    
    .testimonial_two>p{
        margin-top: 25px;
        justify-self: center;
        text-align: center;
        width: 350px;
    
    }
    
    
    .testimonial_two>img{
    align-self: center;
        width: 250px;
        border-radius: 50%;
    }

    .testimonial_three{
        border-radius: 30px;
        min-height: 45vh;
        display: grid;
        align-content: center;
        justify-items: center;
        background-color: #CAF0DB;
        margin-top: 25px;
        margin-bottom: 25px;
       
        
        }
        
        .testimonial_three>p{
            margin-top: 25px;
            justify-self: center;
            text-align: center;
            width: 350px;
        
        }
        


        .testimonial_three>img{
        align-self: center;
            width: 250px;
            border-radius: 50%;
        }


#benefits{
    min-height:250vh;
display: grid;
    background-color: #9693E6;
     height: 150vh;
     margin-bottom: 25px;
     margin-top: 25px;
}

#benefits>h1{
color: white;
justify-self: center;
align-self: center;
font-size: 1.75em;
}

.benefits_span{
    border-radius: 25px;
    display: grid;
background-color: white;
text-align: start;
margin-top: 25px;
margin-bottom: 25px;

}

.benefits_span>h3{
margin-left: 25px;
    color:#9693E6;
}

.benefits_span>p{

margin-left: 25px;
width: 350px;
font-size: 0.90em;
}

.benefits_span>h4{
 display: grid;
 justify-self: start;
 align-self: flex-end;
    color:white;
    padding: 15px;
    background-color: #9693E6;
    margin-left: 35px;
    border-radius: 60px;
}



.About_Us{
margin-top: 25px;
margin-bottom: 25px;
display: grid;
justify-items: start;
align-content: start;

}

.About_Us>h1{
display: grid;
color: #9693E6;
font-size: 2.5em;

}


.About_Us>p{
    display: grid;
letter-spacing: 2px;
text-align: start;
display: grid;
width: 350px;
color: #333333;
font-size: 1em;
    }



.boss_span{
margin-top: 25px;
display: grid;
justify-items: start;
align-items: center;
margin-bottom: 25px;
}

.boss_span>h1{

color: #9693E6;
font-size: 1.75em;
width: 350px;
display: inline-block;

}

.boss_span>a{

color: white;
background-color: #9693E6;
padding: 15px;
padding-left: 50px;
margin-left: 20px;
}

.boss_span>img{
border-radius: 50%;
width: 200px;


}

.boss_linkedin{
    border-radius: 50px;
    color: white;
background-color: #9693E6;
padding: 20px;
display: grid;
grid-template-columns: 30px 1fr;
font-size: 0.80em;
align-content: center;

    }
.boss_linkedin>img{
width: 15px;
max-width: 15px;
min-width: 15px;
justify-self: start;
align-self: center;

} 


.footer_span{
    margin-top: 75px;
    min-height: 53vh;
    grid-template-rows: 30px 60px 120px 120px 100px;
display: grid;
background-color: #9693E6;
justify-items: center;
text-align: center;
}


.footer_span>h1{

color: #FFC166;
font-size: 3.5em;

}

.footer_span>h4{

    color: white;
}

.footer_span>h2{
color: white;
font-size: 2em;
width: 350px;

}


.footer_span>p{
    display: inline-block;
    width: 350px;

    color: white;
    font-size: 1.15em;
    }

nav>a{
    color: white;
}

#specific_padding_get_started{
color: #9693E6;
background-color: white;
padding: 15px;
justify-self: center;
align-self: center;
border-radius: 25px;
}

#black_box{
background-color: black;
    padding-bottom: 100px;
}



@media only screen and (min-width: 720px){





    #header_main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(680px, 1fr));
        justify-content: start;
        align-content: start;
        background-color: #0084FF;
     
        }
        
        header>h1{
        color: white;
        margin-left: 10px;
        }
        
        #page_main{
        
        display: grid;
        
        background-color: white;
        
        grid-template-columns: repeat(auto-fit, minmax(680px, 1fr));
        }
        
        
        #span_article_phone{
            
        border-radius: 30px;
            background-color: #B8DDFF;
            display: grid;
        
             height: 70vh;
             margin-bottom: 25px;
             margin-top: 25px;
            }
        
        #span_article_phone>p{
       justify-self: center;
            text-align: center;
            display: grid; 
            color: darkblue;
            margin-bottom: 3vh;
            width: 500px;
        }
        
        #span_article_phone>h1{
        justify-self: center;
        align-self: center;
        margin-left: 5vw;
        color:#0084FF;
        font-size: 1.75em;
        }
        
        #span_article_phone>h3{
        background-color: #0084FF;
        padding: 10px;
            color: white;
            justify-self: center;
            align-self: center;
            margin-left: 10px;
            border-radius: 60px;
        }
        
        #span_article_phone>img{
            display: grid;
        height: 250px;
        width:200px; ;
        
        justify-self: center;
        align-self: flex-end;
        }
        
        
        
        #span_article_code{
            border-radius: 30px;
        min-height: 40vh;
            background-color: #CAF0DB;
            display: grid;
        
            grid-template-rows: 120px 60px 60px 60px;
        justify-items: center;
        align-content: center;
             margin-top: 25px;
             margin-bottom: 25px;
            }
        
            #span_article_code>img{
        
                width: 100px;
             align-self: start;
        
        
                }
        
        #span_article_code>p{
        display: grid;
        width: 400px;
        text-align:center ;
        color: green;
        }    
        
        #span_article_code>h1{
        
            color: #54C788;
        font-size: 1.5em;
        }
        
        
        #span_article_design{
        border-radius: 30px;
            min-height: 40vh;
            background-color: #FFD2D2;
            display: grid;
           
             grid-template-rows: 120px 60px 60px 60px;
        justify-items: center;
        align-content: center;
             margin-top: 25px;
             margin-bottom: 25px;
        
        }
        
        #span_article_design>img{
        
            width: 100px;
        
            align-self: center;
            }
        
        #span_article_design>p{
            display: grid;
            width: 400px;
            text-align:center ;
        color:red;
        }    
        
        #span_article_design>h1{
        
        color: #FF8A8A;
        font-size: 1.5em;
        }
        
        
        #span_article_development{
        border-radius: 30px;
            min-height: 40vh;
            background-color: #FFE7C4;
            display: grid;
           
            grid-template-rows: 120px 60px 60px 60px;
        justify-items: center;
        align-content: center;
             margin-top: 25px;
             margin-bottom: 25px;
        
        }
        
        #span_article_development>img{
            align-self: center;
            width: 100px;
            
            }
        
        #span_article_development>p{
            display: grid;
            width: 400px;
            text-align:center ;
        color:darkgoldenrod;
        }    
        
        #span_article_development>h1{
        
        color: #FFC166;
        font-size: 1.5em;
        }
        
        #span_article_branding{
        border-radius: 30px;
            min-height: 40vh;
            background-color: #D5D4F5;
            display: grid;
             
            grid-template-rows: 120px 60px 60px 60px;
        justify-items: center;
        align-content: center;
             margin-top: 25px;
             margin-bottom: 25px;
        
        }
        
        #span_article_branding>img{
            align-self: center;
            width: 100px;
            
            }
        
        #span_article_branding>p{
            display: grid;
            width: 400px;
            text-align:center ;
        color: purple
        }    
        
        #span_article_branding>h1{
        
        color: #9693E6;
        font-size: 1.5em;
        }
        
        
        
        .Waving_Woman{
            min-height: 130vh;
        display: grid;
        background-color:#9693E6;
            justify-items: center;
            align-content: start;
            grid-template-rows: 350px 100px 250px 375px 100px 80px;
            
        }
        
        .Waving_Woman>img{
        
            width: 350px
        }
        
        .Waving_Woman>h1{
        
        color: white;
        font-size: 2em;
        }
        
        .Waving_Woman>p{
            word-break: break-all;
        color: white;
        font-size: 1em;
        text-align: center;
     display: grid;
     width: 400px;
        }
        
        #idea_man{
            border-radius: 30px;
        background-color: white;
        padding-bottom: 25vh;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 15px;
        }
     


        
        #specific_text_color{
        color: black;
        word-break: break-all;
    
        
        
        }
        
        
        #testimonial{
        display: grid;
        grid-template-rows: 80px 7vh 180px;
        justify-items: center;
        align-items: center;
        text-align: center;
        color: black;
        font-size: 1.25em;
        }
        #specific_header_color{
            color: #9693E6;
            font-size: 1.75em;
            width: 400px;
            }
            
        #specific_width{
        
            width: 400px;
        }
        
        .testimonial_one{
            border-radius: 30px;
        min-height: 45vh;
        display: grid;
        align-content: center;
        justify-items: center;
        background-color: #FFD2D2;
        margin-top: 25px;
        margin-bottom: 25px;
        }
        
        .testimonial_one>p{
        margin-top: 25px;
     text-align: center;
        
        }
        
        
        .testimonial_one>img{
        align-self: center;
            width: 300px;
            border-radius: 50%;
        }
        
        
        .testimonial_two{
            border-radius: 30px;
            min-height: 45vh;
            display: grid;
            align-content: center;
            justify-items: center;
            background-color: #FFE7C4;
            margin-top: 25px;
            margin-bottom: 25px;
            }
            
            .testimonial_two>p{
            margin-top: 25px;
            text-align: center;
            
            }
            
            
            .testimonial_two>img{
            align-self: center;
                width: 300px;
                border-radius: 50%;
            }
        
            .testimonial_three{
                border-radius: 30px;
                min-height: 45vh;
                display: grid;
                align-content: center;
                justify-items: center;
                background-color: #CAF0DB;
                margin-top: 25px;
                margin-bottom: 25px;
               
                
                }
                
                .testimonial_three>p{
                margin-top: 25px;
                text-align: center;
                
                }
                
        
        
                .testimonial_three>img{
                align-self: center;
                    width: 300px;
                    border-radius: 50%;
                }
        
        
        #benefits{
            min-height:250vh;
        display: grid;
            background-color: #9693E6;
             height: 150vh;
             margin-bottom: 25px;
             margin-top: 25px;
        }
        
        #benefits>h1{
        color: white;
        justify-self: center;
        align-self: center;
        font-size: 1.75em;
        }
        
        .benefits_span{
            border-radius: 25px;
            display: grid;
        background-color: white;
        text-align: start;
        margin-top: 25px;
        margin-bottom: 25px;
        
        }
        
        .benefits_span>h3{
            justify-self: center;
        margin-left: 25px;
            color:#9693E6;
        }
        
        .benefits_span>p{
            text-align: center;
        justify-self: center;
        display: grid;
        width: 400px;
        font-size: 0.90em;
        }
        
        .benefits_span>h4{
         display: grid;
         justify-self: center;
         align-self: flex-end;
            color:white;
            padding: 15px;
            background-color: #9693E6;
            margin-left: 35px;
            border-radius: 60px;
        }
        
        
        
        .About_Us{
        margin-top: 25px;
        margin-bottom: 25px;
        display: grid;
        justify-items: start;
        align-content: start;
        
        }
        
        .About_Us>h1{
        display: grid;
        justify-self: center;
        color: #9693E6;
        font-size: 2.5em;
        
        }
        
        
        .About_Us>p{
            display: grid;
        letter-spacing: 2px;
        justify-self: center;
        text-align: center;
     display: grid;
        color: #333333;
        font-size: 1em;
            }
        
        
        
        .boss_span{
        margin-top: 25px;
        display: grid;
        justify-items: center;
        align-items: center;
        margin-bottom: 25px;
        }
        
        .boss_span>h1{
            text-align: center;
            display: grid;
            align-self: center;
        justify-self: center;
        color: #9693E6;
        font-size: 1.75em;
        width: 400px

        
        }
        
        .boss_span>a{
        
        color: white;
        background-color: #9693E6;
        padding: 15px;
        padding-left: 50px;
        margin-left: 20px;
        }
        
        .boss_span>img{
        border-radius: 50%;
        width: 200px
        
        
        }
        
        .boss_linkedin{
            border-radius: 50px;
            color: white;
        background-color: #9693E6;
        padding: 20px;
        display: grid;
        grid-template-columns: 30px 1fr;
        font-size: 0.80em;
        align-content: center;
        justify-items: center;
        
            }
        .boss_linkedin>img{
        width: 15px;
        max-width: 15px;
        min-width: 15px;
        justify-self: center;
        align-self: center;
        
        } 
        
        
        .footer_span{
            margin-top: 75px;
            min-height: 53vh;
            grid-template-rows: 60px 8vh 150px 6vh 150px;
        display: grid;
        background-color: #9693E6;
        justify-items: center;
        text-align: center;
        }
        
        
        .footer_span>h1{
        
        color: #FFC166;
        font-size: 3.5em;
        
        }
        
        .footer_span>h4{
        
            color: white;
        }
        
        .footer_span>h2{
        color: white;
        font-size: 2em;
        width: 400px
        
        }
        
        
        .footer_span>p{
            display: inline-block;
            width: 400px;
            color: white;
            font-size: 1.15em;
            }
        
        nav>a{
            color: white;
        }
        
        #specific_padding_get_started{
        color: #9693E6;
        background-color: white;
        padding: 15px;
        justify-self: center;
        align-self: center;
        border-radius: 25px;
        }
        
        #black_box{
        background-color: black;
            padding-bottom: 100px;
        }



    }










        @media only screen and (min-width: 1080px){





            #header_main{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
                justify-content: start;
                align-content: start;
                background-color: #0084FF;
             
                }
                
                header>h1{
                color: white;
                margin-left: 10px;
                }
                
                #page_main{
                
                display: grid;
                min-height: 70vh;
                background-color: white;
                
                grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
                }
                
                
                #span_article_phone{
                    
                border-radius: 30px;
                    background-color: #B8DDFF;
                    display: grid;
                
                     height: 70vh;
                     margin-bottom: 25px;
                     margin-top: 25px;
                    }
                
                #span_article_phone>p{
               justify-self: center;
                    text-align: center;
                    display: grid; 
                    color: darkblue;
                    margin-bottom: 3vh;
                }
                
                #span_article_phone>h1{
                justify-self: center;
                align-self: center;
                margin-left: 5vw;
                color:#0084FF;
                font-size: 1.75em;
                }
                
                #span_article_phone>h3{
                background-color: #0084FF;
                padding: 10px;
                    color: white;
                    justify-self: center;
                    align-self: center;
                    margin-left: 10px;
                    border-radius: 60px;
                }
                
                #span_article_phone>img{
                    display: grid;
                height: 250px;
                width:200px; ;
                
                justify-self: center;
                align-self: flex-end;
                }
                
                
                
                #span_article_code{
                    border-radius: 30px;
                min-height: 40vh;
                    background-color: #CAF0DB;
                    display: grid;
                
                    grid-template-rows: 150px 80px 80px 10px;
                justify-items: center;
                align-content: center;
                     margin-top: 25px;
                     margin-bottom: 25px;
                    }
                
                    #span_article_code>img{
                
                        width: 100px;
                     align-self: center;
                
                
                        }
                
                #span_article_code>p{
            display: grid;
            font-size: 1em;
            width: 350px;
                text-align:center ;
                color: green;
                }    
                
                #span_article_code>h1{
                
                    color: #54C788;
                font-size: 1.5em;
                }
                
                
                #span_article_design{
                border-radius: 30px;
                    min-height: 40vh;
                    background-color: #FFD2D2;
                    display: grid;
                  
                    grid-template-rows: 150px 80px 80px 10px;
                justify-items: center;
                align-content: center;
                     margin-top: 25px;
                     margin-bottom: 25px;
                
                }
                
                #span_article_design>img{
                
                    width: 100px;

                    align-self: center;
                    }
                
                #span_article_design>p{
                    display: grid;
                    font-size: 1em;
                    width: 350px;
                        text-align:center ;
                color:red;
                }    
                
                #span_article_design>h1{
                
                color: #FF8A8A;
                font-size: 1.5em;
                }
                
                
                #span_article_development{
                border-radius: 30px;
                    min-height: 40vh;
                    background-color: #FFE7C4;
                    display: grid;
                    
                    grid-template-rows: 150px 80px 80px 10px;
                justify-items: center;
                align-content: center;
                     margin-top: 25px;
                     margin-bottom: 25px;
                
                }
                
                #span_article_development>img{
                    align-self: center;
                    width: 100px;
                    
                    }
                
                #span_article_development>p{
                    display: grid;
                    font-size: 1em;
                    width: 350px;
                        text-align:center ;
                color:darkgoldenrod;
                }    
                
                #span_article_development>h1{
                
                color: #FFC166;
                font-size: 1.5em;
                }
                
                #span_article_branding{
                border-radius: 30px;
                    min-height: 40vh;
                    background-color: #D5D4F5;
                    display: grid;
                     
                    grid-template-rows: 150px 80px 80px 10px;
                justify-items: center;
                align-content: center;
                     margin-top: 25px;
                     margin-bottom: 25px;
                
                }
                
                #span_article_branding>img{
                    align-self: center;
                    width: 100px;
                    
                    }
                
                #span_article_branding>p{
                    display: grid;
                    font-size: 1em;
                    width: 350px;
                        text-align:center ;
                color: purple
                }    
                
                #span_article_branding>h1{
                
                color: #9693E6;
                font-size: 1.5em;
                }
                
                
                
                .Waving_Woman{
                    min-height: 165vh;
                display: grid;
                background-color:#9693E6;
                    justify-items: center;
                    align-content: start;
                    grid-template-rows: 500px 100px 150px 460px 80px 80px;
                                   }
                
                .Waving_Woman>img{
                min-width: 450px;
                    width: 450px
                }
                
                .Waving_Woman>h1{
                
                color: white;
                font-size: 2em;
                }
                
                .Waving_Woman>p{
                    word-break: break-all;
                color: white;
                font-size: 1em;
                text-align: center;
               display: grid;
               width: 405px;
                }
                
                #idea_man{
                    border-radius: 30px;
                background-color: white;
                padding-bottom: 25vh;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 15px;
                }
                
             
                
                #specific_text_color{
                color: black;
                word-break: break-all;
            
                
                
                }
                
                
                #testimonial{
                display: grid;
                grid-template-rows: 80px 7vh 180px;
                justify-items: center;
                align-items: center;
                text-align: center;
                color: black;
                font-size: 1.25em;
                }
                #specific_header_color{
                    color: #9693E6;
                    font-size: 1.75em;
                    width: 500px;
                    }
                    
                #specific_width{
                
                    width: 500px;
                }
                
                .testimonial_one{
                    border-radius: 30px;
                min-height: 50vh;
                display: grid;
                align-content: center;
                justify-items: center;
                background-color: #FFD2D2;
                margin-top: 25px;
                margin-bottom: 25px;
             
                }
                
                .testimonial_one>p{
                margin-top: 25px;
             text-align: center;
                width: 350px;
                }
                
                
                .testimonial_one>img{
                align-self: center;
                    width: 350px;
                    border-radius: 50%;
                }
                
                
                .testimonial_two{
                    border-radius: 30px;
                    min-height: 50vh;
                    display: grid;
                    align-content: center;
                    justify-items: center;
                    background-color: #FFE7C4;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    }
                    
                    .testimonial_two>p{
                    margin-top: 25px;
                    text-align: center;
                    width: 350px;
                    }
                    
                    
                    .testimonial_two>img{
                    align-self: center;
                        width: 350px;
                        border-radius: 50%;
                    }
                
                    .testimonial_three{
                        border-radius: 30px;
                        min-height: 50vh;
                        display: grid;
                        align-content: center;
                        justify-items: center;
                        background-color: #CAF0DB;
                        margin-top: 25px;
                        margin-bottom: 25px;
                       
                        
                        }
                        
                        .testimonial_three>p{
                        margin-top: 25px;
                        text-align: center;
                        width: 350px;
                        }
                        
                
                
                        .testimonial_three>img{
                        align-self: center;
                            width: 350px;
                            border-radius: 50%;
                        }
                
                
                #benefits{
                    min-height:250vh;
                display: grid;
                    background-color: #9693E6;
                     height: 150vh;
                     margin-bottom: 25px;
                     margin-top: 25px;
                }
                
                #benefits>h1{
                color: white;
                justify-self: center;
                align-self: center;
                font-size: 1.75em;
                }
                
                .benefits_span{
                    border-radius: 25px;
                    display: grid;
                background-color: white;
                text-align: start;
                margin-top: 25px;
                margin-bottom: 25px;
                
                }
                
                .benefits_span>h3{
                    justify-self: center;
                margin-left: 25px;
                    color:#9693E6;
                }
                
                .benefits_span>p{
                    text-align: center;
                justify-self: center;
                display: grid;
                width: 500px;
                font-size: 0.90em;
                }
                
                .benefits_span>h4{
                 display: grid;
                 justify-self: center;
                 align-self: flex-end;
                    color:white;
                    padding: 15px;
                    background-color: #9693E6;
                    margin-left: 35px;
                    border-radius: 60px;
                }
                
                
                
                .About_Us{
                margin-top: 25px;
                margin-bottom: 25px;
                display: grid;
                justify-items: start;
                align-content: start;
                
                }
                
                .About_Us>h1{
                display: grid;
                justify-self: center;
                color: #9693E6;
                font-size: 2.5em;
                
                }
                
                
                .About_Us>p{
                    display: grid;
                letter-spacing: 2px;
                justify-self: center;
                text-align: center;
             display: grid;
                color: #333333;
                font-size: 1em;
                width: 700px;
                    }
                
                
                
                .boss_span{
                margin-top: 25px;
                display: grid;
                justify-items: center;
                align-items: center;
                margin-bottom: 25px;
                }
                
                .boss_span>h1{
                    text-align: center;
                    display: grid;
                    align-self: center;
                justify-self: center;
                color: #9693E6;
                font-size: 1.75em;
                width: 500px;
        
                
                }
                
                .boss_span>a{
                
                color: white;
                background-color: #9693E6;
                padding: 15px;
                padding-left: 50px;
                margin-left: 20px;
                }
                
                .boss_span>img{
                border-radius: 50%;
                width: 250px;

                
                }
                
                .boss_linkedin{
                    border-radius: 50px;
                    color: white;
                background-color: #9693E6;
                padding: 20px;
                display: grid;
                grid-template-columns: 30px 1fr;
                font-size: 0.80em;
                align-content: center;
                justify-items: center;
                
                    }
                .boss_linkedin>img{
                width: 15px;
                max-width: 15px;
                min-width: 15px;
                justify-self: center;
                align-self: center;
                
                } 
                
                
                .footer_span{
                    margin-top: 75px;
                    min-height: 58vh;
                    grid-template-rows: 60px 6vh 150px 8vh 150px;
                display: grid;
                background-color: #9693E6;
                justify-items: center;
                text-align: center;
                }
                
                
                .footer_span>h1{
                
                color: #FFC166;
                font-size: 3.5em;
                
                }
                
                .footer_span>h4{
                
                    color: white;
                }
                
                .footer_span>h2{
                color: white;
                font-size: 2em;
                width: 500px;
                
                }
                
                
                .footer_span>p{
                    display: inline-block;
                    width: 600px;
                    color: white;
                    font-size: 1.15em;
                    }
                
                nav>a{
                    color: white;
                }
                
                #specific_padding_get_started{
                color: #9693E6;
                background-color: white;
                padding: 15px;
                justify-self: center;
                align-self: center;
                border-radius: 25px;
                }
                
                #black_box{
                background-color: black;
                    padding-bottom: 100px;
                }
        
        
        
            }
        
        
        
        
        
        
           